@model IEnumerable<MTG_OnlineTraining.Models.Materials>
@{
    ViewData["Title"] = "Admin Material View";
        Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<partial name="_notification" />
<style>

    body {
        counter-reset: Serial; /* / Set the Serial counter to 0 /*/
    }

    tr td:first-child:before  {
        counter-increment: Serial; /* / Increment the Serial counter /*/
        content: counter(Serial); /*  / Display the counter /*/
    }
</style>
<div class="mx-5 bg-white">
    <div class="container p-3 table-responsive">
        <div class="row pt-4">
            <div class="col-6 HDD">
                <h1>Material list</h1>
            </div>
            <div class="col-6 text-end">
                <a asp-controller="Admin" asp-action="AdminMaterialCreate" class="btn btn-primary"><b>Add New Material</b></a>
            </div>
            <br /> <br />  
        </div>
        @if (Model.Count() > 0)
        {
            <table class="table table-bordered table-hover table-info table-sm text-dark" style="width:100%; background-color: gray">
               <thead class="thead-light bg-info text-white">
                  <tr>
                      <th>S/N</th>
                      <th>Program</th>
                      <th>Title </th>
                      <th class="text-center">File</th>  
                      <th>Flow Order</th>  
                      <th class="text-center">Action</th>
                  </tr>
              </thead>
              <tbody class="bg-white">
                  @foreach (var material in Model)
                  {
                     <tr>
                          <td width="10%"></td>
                          <td width="25%">@material.AdminProgram?.ProgramName</td>
                          <td width="25%">@material.Title</td>
                          @if(@material.File.Contains("xlsx")){
                              <td width="10%" class="text-center"><i class="fa fa-file-excel-o" style="font-size:50px;color:green"></i></td>
                          }else if(@material.File.Contains("xls")){
                              <td width="10%" class="text-center"><i class="fa fa-file-excel-o" style="font-size:50px;color:green"></i></td>
                          }else if(@material.File.Contains("DOC")){
                              <td width="10%" class="text-center"><i class="fa fa-file-word-o" style="font-size:50px;color:blue"></i></td>
                          }else if(@material.File.Contains("docx")){
                              <td width="10%" class="text-center"><i class="fa fa-file-word-o" style="font-size:50px;color:blue"></i></td>
                          }else if(@material.File.Contains("pptx")){
                              <td width="10%" class="text-center"><i class="fa fa-file-powerpoint-o" style="font-size:50px;color:red"></i></td>
                          }else if(@material.File.Contains("PPT")){
                              <td width="10%"class="text-center"><i class="fa fa-file-powerpoint-o" style="font-size:50px;color:red"></i></td>
                          }else if(@material.File.Contains("pdf")){
                              <td width="10%" class="text-center"><i class="fa fa-file-pdf-o" style="font-size:50px;width:auto;color:red"></i></td>
                          }else if(@material.File.Contains("mp3")){
                              <td width="10%" class="text-center"><i class="fa fa-file-audio-o" style="font-size:50px"></i></td>
                          }else if(@material.File.Contains("mp4")){
                              <td width="10%" class="text-center"><i class="fa fa-file-video-o" style="font-size:50px;color:blue"></i></td>
                          }else if(@material.File.Contains("txt")){
                              <td width="10%" class="text-center"><i class="fa fa-file-text-o" style="font-size:50px"></i></td>
                          }else if(@material.File.Contains("png")){
                              <td width="10%" class="text-center"><i class="fa fa-file-picture-o" style="font-size:50px"></i></td>
                          }else if(@material.File.Contains("jpg")){
                              <td width="10%" class="text-center"><i class="fa fa-file-picture-o" style="font-size:50px"></i></td>
                          }else if(@material.File.Contains("jpeg")){
                              <td width="10%" class="text-center"><i class="fa fa-file-picture-o" style="font-size:50px"></i></td>
                          }else {
                              <td width="10%" class="text-center"><i class="fa fa-file-o" style="font-size:50px"></i></td>
                          }      
                          <td width="10%" class="text-center">@material.FlowOrder</td>
                          <td width="20%" class="text-center pt-3">
                            <a class="mr-2" id="add-notes" onclick="editMaterail('@material.Id')" data-toggle="modal" data-target="#myEditModal"><i class="fa fa-edit fa-2x" aria-hidden="true" style="color:#009783"></i></a>
                            <a  id="add-notes" onclick="deleteMaterial('@material.Id')" data-toggle="modal" data-target="#myDeleteModal"><i class="fa fa-trash-o fa-2x" aria-hidden="true" style="color:red"></i></a>
                         </td> 
                     </tr> 
                 }
              </tbody>
            </table>
        }
        else
        {
            <div cclass="row p5">
                <div class="col-md-12 text-center p-5 m5">
                    <h2>No Record Found</h2>
                </div>
            </div>
        }
    </div>

<!-- Modal Edit Material -->
<div class="modal fade" id="myEditModal" tabindex="-1" role="dialog" aria-labelledby="addnotesmodalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content border-0">
            <div class="modal-header bg-info text-white text-center">
                <h5 class="modal-title text-white ">Edit Material</h5>
                <button type="button" class="close" data-dismiss="modal" style="color:red">&times;</button>
            </div>
            <div class="modal-body">
                <div class="notes-box">
                    <div class="notes-content">
                        <div class="row my-3 justify-content-center">
                            <div class="col-10 border formProgCreat">
                                <div class="row justify-content-center bg-light formProgCreat">
                                    <div class="col-10 my-4 bg-light formProgCreat-IN">
                                    <div class="row">
                                        <input id="editMateralId" hidden />
                                        <div class="col-md-12 my-3"> 
                                            <div class="note-title">
                                                <label>Program Name</label>
                                                <select class="form-control custom-select" id="editMaterialName" asp-items="@(new SelectList(@ViewBag.AllProgram,  "Id", "ProgramName" ))"></select>
                                            </div>
                                        </div>
                                        <div class="col-md-12 mb-3">
                                            <div class="note-description">
                                                <label>Title</label>
                                                <input id="editMaterialTitle" type="text" class="form-control"/>
                                            </div>
                                        </div>
                                        <div class="col-md-12 mb-3">
                                            <div class="note-description">
                                                <label>Flow Order</label>
                                                <input id="editMaterialFlowOrder" type="number" class="form-control"/>
                                            </div>
                                        </div>
                                        <div class="col-md-12 mb-3">
                                            <div class="note-description">
                                                <label>File</label>
                                                <input id="editMaterialFile" type="file" class="form-control"/>
                                            </div>
                                        </div>
                                        <div class="col-md-12 py-3 text-center">
                                            <button type="submit" class="btn btn-primary mr-2" onclick="materialEditPost()" style="width:150px"><b>Update</b></button>
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal" style="width:150px">Cancel</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                   </div>
                </div> 
            </div>
        </div>
    </div>
</div>

<!-- Modal Delete Program -->
<div class="modal fade" id="myDeleteModal" tabindex="-1" role="dialog" aria-labelledby="addnotesmodalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content border-0">
            <div class="modal-body">
                <div class="notes-box">
                    <div class="notes-content">
                        <div class="row my-3 justify-content-center">
                            <div class="col-10 border formProgCreat">
                                <div class="row justify-content-center bg-light formProgCreat">
                                    <div class="col-10 my-4 bg-light">
                                        <div class="row">
                                            <input id="deleteProgramId" hidden />
                                            <div class="col-md-12 my-3"> 
                                                <div class="note-title text-center">
                                                    <i class="fa fa-close" style="font-size:150px;color:red"></i>
                                                </div>
                                            </div>
                                            <div class="col-md-12 mb-3">
                                                <div class="note-description text-center">
                                                    <h2>Are You Sure You Want To Delete?</h2>
                                                </div>
                                            </div>
                                            <div class="col-md-12 py-3 text-center">
                                                <button type="submit" class="btn btn-danger mr-2" onclick="materialDelete()" asp-route-Id="" style="width:150px"><b>Delete</b></button>
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal" style="width:150px">Cancel</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                   </div>
                </div> 
            </div>
        </div>
    </div>
</div>
