@model IEnumerable<MTG_OnlineTraining.Models.ApplicationUser>
@{
    ViewData["Title"] = "Admin Student View";
        Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<partial name="_notification" />
<style>

    body {
        counter-reset: Serial; /* / Set the Serial counter to 0 /*/
    }

    tr td:first-child:before  {
        counter-increment: Serial; /* / Increment the Serial counter /*/
        content: counter(Serial); /*  / Display the counter /*/
    }
</style>

<div class="mx-5">
    <div class="container p-3">
        <div class="row">
            <div class="col-12 p-5 HDD">
                <h1 Class="text-center">Pending Student Registraion list</h1>
            </div> 
        </div>
    </div>

    <div class="container-fluid table-responsive">
                @if (Model.Count() > 0)
            {
                <table class="table table-bordered table-hover table-info table-sm text-dark" style="width:100%; background-color: gray">
                   <thead class="thead-light bg-info text-white">
                        <tr>
                            <th>S/N</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Middle Name</th>
                            <th>Phone No.</th>
                            <th>Email</th>
                            <th>passport</th>
                            <th>State</th>
                            <th>Address</th>
                            <th>Date Registered</th>     
                            <th>Activate</th>
                        </tr>
                    </thead>
              <tbody class="bg-white">
                  @foreach (var user in Model)
                      {
                         <tr>
                      <td width="5%"></td>
                      <td width="10%">@user.FirstName</td>
                      <td width="8%">@user.LastName</td>
                      <td width="8%">@user.MiddleName</td>
                      <td width="8%">@user.PhoneNumber</td>
                      <td width="6%">@user.Email</td>
                      <td width="9%"><img src="@user.Passport" style="width:50px;height:50px;" /></td>
                      <td width="6%">@user.StateOfOrigin</td>
                      <td width="20%">@user.Address</td>
                      <td width="10%">@user.RegistrationDate.Date</td>
                      <td width="10%">
                              <a asp-controller="Accounts" asp-action="Activation" asp-route-userId="@user.Id"><i class="fa fa-check-circle" aria-hidden="true" style="font-size:50px;color:green"></i></a>
                      </td>
                 </tr> 
                      }
              </tbody>
                </table>
            }
            else
            {
                <div cclass="row p5 m-5">
                    <div class="col-md-12 text-center p-5 m5">
                        <h2>No Record Found</h2>
                    </div>
                </div>
            }
    </div>
</div>
